.idea/
__pycache__/
venv/
Bot_code_and_models/.ipynb_checkpoints/_research-checkpoint.ipynb
Bot_code_and_models/input/BNBBUSD/*
Bot_code_and_models/logs/*
.vscode/launch.json
**.csv**
**tfevents**
Bot_code_and_models/.env
